@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=IBM+Plex+Sans+JP:wght@500&display=swap');
body{
    font-family: Autour One;
}
*{
padding: 0;
Margin: 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    color: #b3b3b3;
}
.logotype h1 {
    text-transform: uppercase;
}
.main-header{
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 20px 15px;
}
.main-navigation li{
    display: inline-block;
    padding-right: 20px;
}
.main-navigation li:last-child {
    padding-right: 0;
}
.main-navigation li a {
    font-family: 'IBM Plex Sans JP', sans-serif;
}